@tailwind base;
@tailwind components;
@tailwind utilities;

.pointer-circle {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(250, 244, 244);
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: width 0.2s ease, height 0.2s ease;
}

@media (max-width: 768px) {
  .pointer-circle {
    width: 20px;
    height: 20px;
  }
}

body {
  background-color: rgb(24, 20, 39);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Playfair Display", serif;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

.swiper-container {
  overflow: hidden;
}

.mySwiper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@keyframes shine {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f00, 0 0 20px #f00;
  }

  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff7300, 0 0 20px #ff7300;
  }
}

.logo-shine {
  animation: shine 1.5s infinite alternate;
}
